<!DOCTYPE html>
<html lang="zn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPGL</title>
    <link rel="icon" href="images/wzss.png" type="image/x-icon" />
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link href="stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SPGL</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" id="index_sjlb">

                    <li class="active"><a href="javascript:;"><span class="glyphicon glyphicon-signal" aria-hidden="true"
                                style="cursor: pointer;margin-right: 5px"></span>
                            数据概览</a>
                    </li>

                    <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-lock"
                      aria-hidden="true" style="cursor: pointer;margin-right: 5px"></span>
                    商品管理 <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">全部商品</a></li>
                    <li><a href="#">添加商品</a></li>
                  </ul>
                </li> -->

                    <li><a href="javascript:;"><span class="glyphicon glyphicon-lock" aria-hidden="true" style="cursor: pointer;margin-right: 5px"></span>
                            全部商品</a>
                    </li>

                    <li><a href="javascript:;"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="cursor: pointer;margin-right: 5px"></span>
                            全部订单</a>
                    </li>

                    <!-- 可下拉 -->
                    <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i>
                    Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown Item</a></li>
                    <li><a href="#">Another Item</a></li>
                    <li><a href="#">Third Item</a></li>
                    <li><a href="#">Last Item</a></li>
                  </ul>
                </li> -->
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
                            <%= name %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user" target="_Blank"><span class="glyphicon glyphicon-user" aria-hidden="true"
                                        style="cursor: pointer;margin-right: 5px"></span>
                                    用户中心</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" id="index_tc"><span class="glyphicon glyphicon-log-out"
                                        aria-hidden="true" style="cursor: pointer;margin-right: 5px"></span>
                                    退出账号</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="row" id="index_sjgl" style="display:block">
                <div class="col-lg-12">
                    <div style="height:300px;width:100%;">
                        <canvas id="chartjs-pie-chart"></canvas>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top: 40px">
                    <div style="height:300px;width:100%;">
                        <canvas id="chartjs-pie-chart2"></canvas>
                    </div>
                </div>
            </div>

            <div class="row" id="index_qbsp" style="display:none">
                <div class="col-lg-12 wrap">

                    <nav class="navbar navbar-default">
                        <div class="container-fluid">

                            <div class="btn-group navbar-btn navbar-left" data-toggle="buttons" style="margin-right:30px"
                                id="index_spzt">
                                <label class="btn btn-default active" spzt="all">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                    全部商品
                                </label>
                                <label class="btn btn-default" spzt="csz">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> 出售中
                                </label>
                                <label class="btn btn-default" spzt="yxj">
                                    <input type="radio" name="options" id="option3" autocomplete="off"> 已下架
                                </label>
                            </div>

                            <p class="navbar-text" id="">搜索商品</p>

                            <form class="navbar-form navbar-left" role="search">
                                <div class="input-group">
                                    <input id="index_spssl" type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default" id="index_splbss">搜索</button>
                                    </div>
                                </div><!-- /.input-group -->
                            </form>



                            <button type="button" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal"
                                data-target="#indextjsp" style="margin-right: 0;">发布商品</button>
                            <button id="index_splbdxsj" type="button" class="btn btn-default navbar-btn navbar-right"
                                style="margin-right: 15px;">上架</button>
                            <button id="index_splbczsx" type="button" class="btn btn-default navbar-btn navbar-right"
                                style="margin-right: 15px;">重置刷新</button>

                        </div>

                    </nav>


                    <table class="table table-hover">

                        <thead class="index_lbdhl">
                            <tr>
                                <th>
                                    <label style="margin:0px;">
                                        <input type="checkbox" style="margin:0px;" id="index_splb_dx">
                                    </label>
                                </th>
                                <th>商品图</th>
                                <th>商品名称</th>
                                <th class="index_lbdhl_px" pxzd="spjg">
                                    <span>价格</span>
                                    <span>▼</span>
                                </th>
                                <th class="index_lbdhl_px" pxzd="spkc">
                                    <span>库存</span>
                                    <span>▼</span>
                                </th>
                                <th class="index_lbdhl_px" pxzd="spxl">
                                    <span>总销量</span>
                                    <span>▼</span>
                                </th>
                                <th class="index_lbdhl_px" pxzd="fbsj">
                                    <span>发布时间</span>
                                    <span>▼</span>
                                </th>
                                <th>操作</th>
                            </tr>
                        </thead>

                        <tbody id="index_splbsj" class="index_splb">


                            <!-- <tr>
                                <td>
                                    <label style="margin:0px;">
                                        <input type="checkbox" style="margin:0px;">
                                    </label>
                                </td>
                                <td>
                                    <img src="spt/26355794.jfif" alt="">
                                </td>
                                <td>aljgak gaskjgaogn algajsoa agoja</td>
                                <td>
                                    <span>￥</span>
                                    <span>${n.spjg}</span>
                                </td>
                                <td>12415</td>
                                <td>3257</td>
                                <td>2019-12-1 16:12</td>
                                <td>
                                    <button type="button" class="btn btn-default btn-xs userbjyh_tc">编辑商品</button>
                                    <button type="button" class="btn btn-default btn-xs userbjyh_tc">下架</button>
                                </td>
                            </tr> -->

                        </tbody>

                    </table>
                    <!-- 等待动画 -->

                    <div class="index_login" style="display:block">
                        <div class="loader loader--style1" title="loading...">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                                xml:space="preserve">
                                <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                  s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                  c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                  C22.32,8.481,24.301,9.057,26.013,10.047z">
                                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20"
                                        to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                                </path>
                            </svg>
                        </div>
                    </div>

                    <nav aria-label="Page navigation" style="display:none;" id="index_fybq" class="pull-right">
                        <ul class="pagination">
                            <!-- <li class="index_kxym_qf">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="index_kxym index_kxym_bh active"><a href="#">1</a></li>
                            <li class="index_kxym index_kxym_bh"><a href="#">2</a></li>
                            <li class="index_kxym index_kxym_bh"><a href="#">3</a></li>
                            <li class="index_kxym index_kxym_bh"><a href="#">4</a></li>
                            <li class="index_kxym index_kxym_bh"><a href="#">5</a></li>
                            <li class="disabled"><a href="#">...</a></li>
                            <li class="index_kxym"><a href="#">533</a></li>
                            <li class="index_kxym_hf">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li> -->
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="row" id="index_qbdd" style="display:none">
                <div class="col-lg-12">
                    <!-- <h1>全部订单</h1> -->
                    <div class="bs-docs">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab">所有订单</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">待付款</a></li>
                            <li class=""><a href="#home" data-toggle="tab">待发货</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">已发货</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">交易完成</a></li>
                            <li class=""><a href="#profile" data-toggle="tab">交易关闭</a></li>
                        </ul>
                    </div>


                    <!-- 内容 -->
                    <div class="row">
                        <div class="index_login" style="display:none">
                            <div class="loader loader--style1" title="loading...">
                                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                                    xml:space="preserve">
                                    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                      s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                      c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                                    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                      C22.32,8.481,24.301,9.057,26.013,10.047z">
                                        <animateTransform attributeType="xml" attributeName="transform" type="rotate"
                                            from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-12" id="index_ddlb">

                            <div class="index_dd_dgdd">
                                <table class="table table-hover">
                                    <thead class="thead">
                                        <tr>
                                            <th>订单ID：5c7cc70681ff243c041197c9</th>
                                            <th>商品数量：2</th>
                                            <th>订单状态：待付款</th>
                                            <th>创建时间：2019-12-1 16:12</th>
                                        </tr>
                                    </thead>
                                </table>

                                <table class="table table-hover">
                                    <thead class="thead">
                                        <tr>
                                            <th>#</th>
                                            <th>商品图片</th>
                                            <th>商品名称</th>
                                            <th>单价</th>
                                            <th>购买数量</th>
                                            <th>总价</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <th>
                                                <img src="https://img.alicdn.com/imgextra/i3/110276813/O1CN01y4PGIT20COsCOknXm_!!0-saturn_solar.jpg_240x240xz.jpg"
                                                    alt="">
                                            </th>
                                            <td>fsdahdfhghfd</td>
                                            <td>￥12</td>
                                            <td>2</td>
                                            <td>￥132</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <th>
                                                <img src="https://img.alicdn.com/imgextra/i3/110276813/O1CN01y4PGIT20COsCOknXm_!!0-saturn_solar.jpg_240x240xz.jpg"
                                                    alt="">
                                            </th>
                                            <td>fsdahdfhghfd</td>
                                            <td>￥12</td>
                                            <td>2</td>
                                            <td>￥132</td>
                                        </tr>
                                    </tbody>

                                </table>

                            </div>


                        </div>
                    </div>


                </div>


            </div>

        </div>

    </div><!-- /#wrapper -->

    <!-- 添加商品弹出框 -->
    <div class="modal fade" id="indextjsp" tabindex="-1" xgspid="" role="dialog" aria-labelledby="indextjspLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="indextjspLabel">发布商品</h4>
                </div>
                <div class="modal-body">

                    <span id="indextjsp_bjyx" style="display:none"></span>
                    <span id="indextjsp_yhmm" style="display:none"></span>
                    <div class="form-group">
                        <label for="exampleInputEmail1">选择主图</label>
                        <label for="indextjsp_an" class="indextjsp_ztcf">
                            <img src="spt/a1.jpg" class="img-rounded indextjsp_zt">
                        </label>
                        <input id="indextjsp_an" type="file" style="display:none" name="zt" accept="image/jpeg" />
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">商品名称</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="indextjsp_mc" placeholder="20字以内，不包含符号。">
                            <span class="input-group-addon" id="indextjsp_mc_ts" onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')">输入字数
                                0/20</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">价格</label>
                                <div class="input-group">
                                    <span class="input-group-addon">￥</span>
                                    <input type="text" onkeyup="value=value.replace(/[^\d.]/g,'')" class="form-control"
                                        id="indextjsp_jg" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">库存</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                        id="indextjsp_kc" placeholder="">
                                    <span class="input-group-addon">件</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">是否上架</label>

                        <select class="form-control" id="indextjsp_sj">
                            <option>上架</option>
                            <option>不上架</option>
                        </select>

                    </div>

                    <div class="alert alert-danger" role="alert" id="indextjsp_ts" style="display:none;">邮箱格式错误，请重新输入。</div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="float: left;" id="index_spsp">删除商品</button>
                    <button type="button" class="btn btn-danger" style="float: left;display: none" id="indextjsp_scyhz">再次确认删除用户</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="indextjsp_qdtj">确定</button>
                </div>

            </div>
        </div>
    </div>


    <script src="Chart/Chart.min.js"></script>
    <script src="javascript/jquery.js"></script>
    <script src="javascript/ym_index.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</body>

</html>